/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/public/jpush.log
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
workerman.log
app/.DS_Store
.code-workspace
public/phpMyAdmin4.8.5
*.DS_Store
